BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Middle
SortIncludes: false
IndentPPDirectives: None
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
AlignConsecutiveMacros: None
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
BreakArrays: true
AlignArrayOfStructures: Right
AllowShortBlocksOnASingleLine: false
SpaceAroundPointerQualifiers: Both
AccessModifierOffset: 0
IndentAccessModifiers: true
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 10000
AllowShortFunctionsOnASingleLine: None
